.cs-container {
  border-radius: 5px;
  min-width: 500px;
  box-shadow: 0 0 2px $color-shadow;
  color: $color-text;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-shadow;

  &__cs-item {
    padding: 8px 24px;
  }
}
