<table data-test-cs-table>
  <thead data-test-cs-table-header>
    <tr>
      <th>Name</th>
      <th>Device</th>
      <th>Path</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody data-test-cs-table-body={{@rows.length}}>
    {{#each @rows as |row|}}
      <CsTable::Row @row={{row}} />
    {{else}}
      <p data-test-cs-table-empty>No data to display.</p>
    {{/each}}
  </tbody>
</table>